* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background-color: cadetblue;
}

.innercontainer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.calculator {
    background-color: coral;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

input[name="screen"] {
    text-align: right;
    height: 45px;
    width: 267px;
    font-size: 30px;
    font-weight: 400;
    color: #50504c;
    border: 3px solid #7f7775;
    border-radius: 5px;
}

td {
    width: 60px;
    border: 1px solid #434242;
    height: 45px;
    border-radius: 3px;
    box-shadow: 1px 1px #918f8f;
    padding: 1px 1px;
    background-color: #626161;
    display: inline-block;
    margin: 3px;
}

button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: tan;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}